/*SCREEN 4 - 960PX - 1023PX px screen size*/
/*
DEFAULT STYLES
H1:
font-family: 'Montserrat', sans-serif !important;
font-size: 40px !important;
font-weight: 800 !important;
line-height: 47px !important;

H2:
font-family: 'Montserrat', sans-serif !important;
font-size: 25px !important;
font-weight: 800 !important;
line-height: 31px !important;

H3:
font-family: 'Montserrat', sans-serif !important;
font-size: 22px !important;
font-weight: 500 !important;
line-height: 28px !important;

H3 PRE TITLE:
font-family: 'Montserrat', sans-serif !important;
font-size: 25px !important;
font-weight: 600 !important;
line-height: 31px !important;

P:
font-family: 'Montserrat', sans-serif !important;
font-size: 18px !important;
font-weight: 300 !important;
line-height: 24px !important;

DEFAULT COLORS:
Orange: #FF6600
Light orange: #FFA166
White: #ffffff
Gray: #A1A1A1
Black: #000000
*/
/*FRONT PAGE 1 START*/
.fp-1-container {
    display: block;
    width: 900px;
    margin: 100px auto;
}
.fp-1-header-title > h1 {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 40px !important;
    font-weight: 800 !important;
    line-height: 47px !important;
    text-align: left !important;
    color: #ffffff !important;
    margin: 50px auto;
}
.fp-1-pag > p {
    font-family:  'Montserrat', sans-serif !important;
    font-size: 22px !important;
    font-weight: 300 !important;
    line-height: 29px !important;
    text-align: left !important;
    color: #ffffff !important;
    margin: 40px auto;
}
/*FRONT PAGE 1 END*/
/*FRONT PAGE 2 START*/
.fp-2-container {
    display: block;
    width: 900px;
    margin: 0px auto;
}
.fp-2-header > h1 {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 42px !important;
    font-weight: 800 !important;
    line-height: 52px !important;
    text-align: center !important;
    color: #ffffff !important;
}
.fp-2-icons-container {
    display:  flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 900px;
}
.fp-2-icons-col {
    width: 400px;
    height: 300PX;
    margin: 100px auto;
}
.fp-2-icon {
    font-size: 6rem;
    color: #FF6600;
    text-align: center;
    margin: 20px auto;
}
.fp-2-service-title > h2 {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 29px !important;
    font-weight: 800 !important;
    line-height: 36px !important;
    text-align: center !important;
    color: #ffffff !important;
    margin: 35px auto;
}
.fp-2-pag > p {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 19px !important;
    font-weight: 400 !important;
    line-height: 25px !important;
    text-align: center !important;
    color: #ffffff !important;
}
/*FRONT PAGE 2 END*/
/*FRONT PAGE 3 START*/
.fp-3-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 900px;
    margin: 10px auto;
    justify-content: space-between;
    align-items: flex-start;
}
.fp-3-img-box > img {
    width: 440px !important;
    height: 440px !important;
}
.fp-3-right-box {
    width: 440px;
}
.fp-3-pre-title > h3 {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 25px !important;
    font-weight: 800 !important;
    line-height: 32px !important;
    text-align: left;
    color: #FF6600 !important;
}
.fp-3-header-title > h1 {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 41px !important;
    font-weight: 900 !important;
    color: #000000 !important;
}
.fp-3-pag > p {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 20px !important;
    color: #A1A0A0 !important;
}
/*FRONT PAGE 3 END*/
/*FRONT PAGE 4 START*/
.fp-4-container {
    width: 900px;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.fp-4-pre-title {
    width: 900px;
    height: 80px;
    margin: 36px auto;
}
.fp-4-pre-title > h3 {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 50px !important;
    font-weight: 800 !important;
    line-height: 52px !important;
    text-align: center;
    color: #FF6600 !important;
}
.fp-4-desc-text > p {
    font-family:  'Montserrat', sans-serif !important;
    font-size: 22px !important;
    font-weight: 500 !important;
    line-height: 29px !important;
    text-align: center;
    color: #A1A1A1;
    width: 900px;
}
.fp-4-row-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 900px;
    margin: 40px auto;
}
.fp-4-col-container, .fp-4-col-container > img {
    width: 280px !important;
    height: auto !important;
    margin: 0px auto;
}
.fp-4-service-img {
    width: 280px !important;
    height: auto !important;
    margin: 0px auto;
}
.fp-4-serv-title > h3 {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 25px !important;
    font-weight: 800 !important;
    line-height: 31px !important;
    color: #000000 !important;
    text-align: center;
}
.fp-4-uia-text > h3 {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 18px !important;
    font-weight: 800 !important;
    line-height: 28px !important;
    text-align: center;
    color: #A1A0A0;
}
/*FRONT PAGE 4 END*/
/*FRONT PAGE 5 START*/
.fp-5-container {
    display: block;
    width: 900px;
    margin: 0px auto;
    text-align: center;
}
.fp-5-pre-title, .fp-5-pre-title > h3 {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 29px !important;
    font-weight: 800 !important;
    line-height: 36px !important;
    text-align: center !important;
    color: #ffffff !important;
    margin: 20px auto;
    width: 900px;
    height: 100px;

}
.fp-5-header-title > h1 {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 42px !important;
    font-weight: 800 !important;
    line-height: 52px !important;
    text-align: center !important;
    color: #ffffff !important;
    width: 900px;
    height: 300px;
}
.fp-5-button-box {
    display: block;
    margin: 30px auto;
    padding: 20px 20px;
 }
.fp-5-button-box > a {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    line-height: 24px !important;
    text-decoration: none !important;
    padding: 10px 20px !important;
    background-color: #FF6600 !important;
    border-radius: 20px !important;
    color: #ffffff !important;
}
.fp-5-button {
    font-family: 'Montserrat', sans-serif !important;
}
/*FRONT PAGE 5 END*/
/*FRONT PAGE 6 START*/
.fp-6-container {
    display: block;
    width: 900px;
    margin: 0px auto;
}
.fp-6-header-title > h1 {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 45px !important;
    font-weight: 800 !important;
    line-height: 52px !important;
    color: #FF6600 !important;
    text-align: center !important;
    width: 900px;
    height: 80px;
    display: block;
}
/*box containing front page 6 contact form and map in two colums*/
.fp-6-contact-row-box {
    /*border: 2px solid yellow;*/
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0px auto;
    width: 900px;
}
/*Left column inside contact row box, this column contains cf7 fields*/
.fp-6-left-col {
    /*border: 1px solid white;*/
    width: 448px;
    float: left;
    background-color: #ffffff;
    height: 605px;
}
/*left column child elements and contact form 7 fields*/
.fp-6-right-input-box {
    width: 224px;
}
.fp-6-left-input-box {
    width: 224px;
}
/*properties for message box*/
.fp-6-message-box {
    width: 448px;
}
/*properties for SEND button*/
.fp-6-button-box {
    width: 448px;
}
/*Right colum start*/
.fp-6-right-col {
    /*border: 1px solid cyan;*/
    width: 448px;
    height: 605px;
    float: left !important;
    margin: 0px auto !important;
    background-color: #FF6600 !important;
}
.fp-6-map-box > img {
    width: 448px !important;
    height: auto !important;
    margin: 0px auto !important;
}
.fp-6-map-img  {
    width: 448px !important;
    height: auto !important;
    margin: 0px !important;
}
/**/
.fp-6-contact-info-box {
    width: 448px;
    margin: 10px auto !important;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.fp-6-contact-row {
    width: 448px;
    /*border: 1px solid #00ff22;*/
    display: flex !important;
    justify-content: space-evenly !important;
    align-items: flex-start !important;
    margin: 6px auto !important;
}
/*set heigh for conact info left and right columns*/
.fp-6-contact-right-col,.fp-6-contact-left-col {
    width: 224px;
    height: 124px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center !important;
    margin: 0px auto !important;
    padding: 0px;
}
.fp-6-contact-left-col {
    /*border: 1px solid cyan;*/
}
.fp-6-contact-right-col {
/*    border: 1px solid red;*/
}
.fp-6-icon-box {
    /*border: 1px solid #000000;*/
    font-size: 30px !important;
    text-align: center !important;
    width: 38px !important;
    height: 77px !important;
    color: #ffffff !important;
    padding: 20px 0px !important;
}
/**/
.fp-6-info-tittle > h4 {
    /*border: 1px solid blueviolet;*/
    font-family: 'Montserrat', sans-serif !important;
    font-size: 15px !important;
    color: #ffffff !important;
    float: left !important;
    width: 174px;
    height: 21px;
    margin: 0px auto !important;
}
.fp-6-info-text > p {
    /*border: 1px solid blueviolet;*/
    font-family:  'Montserrat', sans-serif !important;
    font-size: 13px !important;
    font-weight: 400 !important;
    line-height: 13px !important;
    float: left !important;
    width: 174px !important;
    height: 24px !important;
    color: #ffffff !important;
}
.fp-6-info-text > p > a {
    font-family:  'Montserrat', sans-serif !important;
    font-size: 13px !important;
    font-weight: 400 !important;
    line-height: 24px !important;
    text-decoration: none;
    color: #ffffff !important;
}
/*FRONT PAGE 6 END*/