/* You can add your own CSS here. Click the help icon above to learn more. */

.ast-woocommerce-container {
    padding-top: 133px!important;
}

/*CONTACT FORM PROP START */
.contactcontainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 10px auto;
	width: 600px;
}
.two-cols-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	margin: 14px auto;
	width: inherit;
}
.one-col-left {
	float:left;
	width: 50%;
	padding: 0px 10px;
}
.one-col-rig {
		float: right;
		width: 50%;
		padding: 0px 10px;
}
.one-col-wide-row {
	float: left;
	width: inherit;
}
.single-col-row {
		padding: 0px 10px;
}
/*ALL FIELDS Border settings */
#firname, #lasname, #woemail, #businessphone, #jobtitle, #companyname, #paisselect, #citydi, #comfild {

}
.salecall, .newsletter {
	margin: 14px auto;
	float: left;
}
#single-col-row-text {
	text-align: center !important;
}
#comfild {
	min-width: 100% !important;
	width: inherit !important;
	max-width: 100% !important;
	padding: 0px 10px;
	min-height: 90px !important;
	height: 90px !important;
	max-height: 90px !important;
}
input.wpcf7-form-control.wpcf7-submit {
  display: block;
  margin: 20px auto;
	min-width: 330px;
	width: 90%;
	max-width: inherit;
}