/*
Style order
1. 350  to 574px max res
2. 575  to 767px max res
3. 768  to 959px max res
4. 960  to 1365px max res
5. 1366 to 1920px max res
*/
/*1. 350  to 574px max res */
@media only screen and (min-width: 350px) and (max-width: 574px) {
    /*screen res 360px*/ 
    /* About Michael section START 300px to 574px */ 
    .toprowabout, .bottomrowabout {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    .ContenedorCaja {
        min-width: 340px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 40px;
    }
    .WebIcono {
        width: 340px;
        height: 340px;
        margin-left: auto;
        margin-right: auto;
    }
    .H3TituloAzul {
        text-align: left;
        font-family: 'Montserrat', sans-serif;
        font-size: 40px;
        font-weight: 800;
        color: #005C9D;
    }
    .TextoiGris {
        font-size: 19pt;
        color: #333333;
        font-family: 'Permanent Marker', cursive;
    }
    .ParrafoGris {
        max-width: 330px;
        padding-left: 20px;
        padding-right: 10px;
        text-align: left;
        color: #2C2C2C;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        line-height: 24px;
        font-weight: 300;
        border-left: 5px solid #0980D3;
    }
    /* About Michael section END  (screen 300px to 767px) */

    /* reasons section START  */ 
    .FpTittleContainerBlue {
        width: 300px;
        border-bottom: 5px solid #005C9D;
        align-content: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        text-align: center;
    }
    .FpTittleBlue {
        font-family: 'Montserrat', sans-serif;
        font-size: 40px;
        font-weight: 900;
        color: #005C9D;
    }
    .BoredOfTittle {
        font-size: 1.3em;
        font-family: 'Permanent Marker', cursive;
        color: #4d4d4d;
        font-weight: 700;
        text-align: center;
        max-width: 340px;
        margin: 25px auto 10px auto;
    }
    .ReasonsPagph {/*Paragraph Prop*/
        font-family: 'Montserrat', sans-serif;
        font-size: 14pt;
        font-weight: 400;
        color: #000;
        text-align: center;
        word-spacing: 1px;
        max-width: 340px;
        margin: 30px 10px 30px 10px;
    }
    .reasonscontainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .reasons {
        max-width: 340px;
        padding: 30px 10px 40px 10px;
    }
    .ReasonsImg {
        min-width: 340px;
        width: 340px;
        max-width: 340px;
        margin-left: auto;
        margin-right: auto;
    }
    .ReasonsTittle {
        font-family: 'Montserrat', sans-serif;
        font-size: 1.8em;
        color: #005C9D;
        font-weight: 700;
        align-content: center;
        text-align: center;
    }
    .Fp5AreYouReadyBox {
        min-width: 340px;
        max-width: 340px;
        margin-top: 20px;
        margin-bottom: 30px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .Fp5TittleAreYouReady {
        font-family: 'Montserrat', sans-serif;
        font-size: 2.1rem;
        color: #005C9D;
        font-weight: 900;
        align-content: center;
        text-align: center;
    }
    .ImAllInBox {
        text-align: center;
        padding: 15px;
        width: 250px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        margin-bottom: 40px;
        background-color: #0980D3;
    }
    .ImAllInButton {
        text-align: center;	
        padding: 10px;
        color: #fff;
        font-family: 'Monserrat', sans-serif;
        font-weight: 900;
        letter-spacing: 1px;
        word-spacing: 4px;
    }
    .ImAllInBox:hover {
        background-color: #fff;
        text-decoration: none;
        text-align: center;
        color: #005C9D;
    }
    /* reasons section END */
    /* fp-6 (packages) START */
    .packagescontainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .packagebox {
        max-width: 340px;
        padding: 10px 10px 20px 10px;
    }
    .packimgbox {
        width: 340px;
        height: 340px;
        margin-left: auto;
        margin-right: auto;
    }
    .packtitlebox {
        margin-left: auto;
        margin-right: auto;
    }
    .packtitletext { /* properties from ReasonsTitle with white text */
        font-family: 'Montserrat', sans-serif;
        font-size: 1.8em;
        color: #fff;
        font-weight: 700;
        align-content: center;
        text-align: center;
    }
    .packpagh { /**/
        font-family: 'Montserrat', sans-serif;
        font-size: 13pt;
        font-weight: 400;
        color: #fff;
        text-align: left;
        word-spacing: 1px;
        width: 340px;
        margin: 10px 1px 10px 1px;
        list-style: square;
        line-height: 20pt;
    }
    .SmallerText {
        font-family: 'Montserrat', sans-serif;
        font-size: 10pt;
        font-weight: 400;
        color: #fff;
        text-align: left;
    }
    /** BUTTON PROPERTIES don't change with screen size change **/
    .packbttnbox { /*button container box properties*/
        width: 100%;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        align-content: center;
        position: relative;
    }
    .packctabutton a, .packctabutton a:visited {
        text-decoration: none;
        color: inherit;
    }
    .packctabutton { /*add plan button properties */
        background-color: #0980D3;
        color: black;
        border: 1px solid #e7e7e7;
        border-radius: 7px;
        padding: 15px 25px;
        text-align: center;
        margin: 7px auto 4px auto;
        transition-duration: 0.5s;
        cursor: pointer;
        font-family: 'Permanent Marker', cursive;
        text-transform: uppercase;
        font-size: 16px;
        color: #fff;
        width: 250px;
    }
    .packctabutton:hover {
     background-color: #e7e7e7;
        color: #0980D3;
       border: 1px solid #0980D3;
    }
    /* fp-6 (packages) END */ 
}
/*2. 575  to 767px max res  */
@media only screen and (min-width: 575px) and (max-width: 767px) {
    /*2. 575  to 767px max res*/ 
    /* About Michael section START 575px to 767px */ 
    .toprowabout, .bottomrowabout {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .ContenedorCaja {
        max-width: 525px;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 40px;
    }
    .WebIcono {
        width: 525px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .H3TituloAzul {
        text-align: left;
        font-family: 'Montserrat', sans-serif;
        font-size: 3.3em;
        font-weight: 800;
        color: #005C9D;
    }
    .TextoiGris {
        font-size: 2.7em;
        color: #333333;
        font-family: 'Permanent Marker', cursive;
    }
    .ParrafoGris {
        max-width: 525px;
        padding-left: 25px;
        padding-right: 25px;
        text-align: left;
        color: #2C2C2C;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.3rem;
        line-height: 1.7rem;
        font-weight: 300;
        border-left: 5px solid #0980D3;
    }
    /* About Michael section END  */ 
    /* reasons section START  */ 
    .FpTittleContainerBlue {
        width: 500px;
        border-bottom: 5px solid #005C9D;
        align-content: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        text-align: center;
    }
    .FpTittleBlue {
        font-family: 'monserrat', sans-serif;
        color: #005C9D;
        font-size: 47pt;
        font-weight: 900;
    }
    .BoredOfTittle {
        width: 525px;
        font-family: 'Permanent Marker', cursive;
        color: #4d4d4d;
        font-size: 27pt;
        font-weight: 700;
        text-align: center;
        margin: 25px 25px 80px 25px;
    }
    .ReasonsPagph { /*Paragraph Prop*/
        font-family: 'Montserrat', sans-serif;
        font-size: 16pt;
        font-weight: 400;
        color: #000;
        text-align: center;
        word-spacing: 1px;
        max-width: 525px;
        margin: 35px 25px 35px 25px;
    }
    .reasonscontainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .reasons {
        max-width: 525px;
        padding: 30px 25px 40px 25px;
    }
    .ReasonsImg {
        min-width: 525px;
        width: 525px;
        max-width: 525px;
        margin-left: auto;
        margin-right: auto;
    }
    .ReasonsTittle {
        font-family: 'Montserrat', sans-serif;
        font-size: 2.5rem;
        font-weight: 700;
        align-content: center;
        color: #005C9D;
        text-align: center;
    }
    .Fp5AreYouReadyBox {
        min-width: 525px;
        max-width: 525px;
        margin: 10px 25px 30px 25px; 
        padding-right: 10px;
        padding-left: 10px;
    }
    .Fp5TittleAreYouReady {
        font-family: 'Montserrat', sans-serif;
        font-size: 48px;
        font-weight: 700;
        align-content: center;
        color: #005C9D;
        text-align: center;
    }
    .ImAllInBox {
        text-align: center;
        padding: 15px;
        background-color: #005C9D;
        width: 250px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        margin-bottom: 40px;
    }
    .ImAllInButton {
        text-align: center;	
        padding: 10px;
        color: #fff;
        font-family: 'Monserrat', sans-serif;
        font-weight: 900;
        letter-spacing: 1px;
        word-spacing: 4px;
    }
    /* reasons section END */
    /* fp-6 (packages) START */
    .packagescontainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .packagebox {
        max-width: 525px;
        padding: 2px 25px 15px 25px;
    }
    .packimgbox {
        width: 525px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .packtitlebox {
        margin-left: auto;
        margin-right: auto;
    }
    .packtitletext { /* properties from ReasonsTitle with white text */
        font-family: 'Montserrat', sans-serif;
        font-size: 2.5rem;
        font-weight: 700;
        align-content: center;
        color: #fff;
        text-align: center;
    }
    .packpagh { /**/
        font-family: 'Montserrat', sans-serif;
        font-size: 19pt;
        font-weight: 400;
        color: #fff;
        text-align: left;
        word-spacing: 1px;
        max-width: 525px;
        margin: 35px 25px 35px 25px;
        list-style: square;
        line-height: 25pt;
    }
    .SmallerText {
        font-family: 'Montserrat', sans-serif;
        font-size: 13pt;
        font-weight: 400;
        color: #fff;
        text-align: left;
    }    
    /** BUTTON PROPERTIES don't change with screen size change **/
    .packbttnbox { /*button container box properties*/
        width: 100%;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        align-content: center;
        position: relative;
    }
    .packctabutton a, .packctabutton a:visited {
        text-decoration: none;
        color: inherit;
    }
    .packctabutton { /*add plan button properties */
        background-color: #0980D3;
        color: black;
        border: 1px solid #e7e7e7;
        border-radius: 7px;
        padding: 16px 32px;
        text-align: center;
        display: flexbox;
        margin: 4px auto 4px auto;
        transition-duration: 0.5s;
        cursor: pointer;
        font-family: 'Permanent Marker', cursive;
        text-transform: uppercase;
        font-size: 16px;
        color: #fff;
        width: 180px;
    }
    .packctabutton:hover {
        background-color: #e7e7e7;
        color: #0980D3;
        border: 1px solid #0980D3;
    }
    /* fp-6 (packages) END */ 
    /*Contact page START*/
    .benecridi {
        font-size: 40px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        border-bottom: 3px solid #0980D3;
        width: 280px;
        margin: 10px 10px 20px 60px;
    }
    .CF7ContainerBox {
        background-color: rgb(255 255 255 / 46%);
        width: 450px;
        height: 600px;
        padding: 10px;
        border-radius: 7px;
        margin: auto;
        justify-content: space-between;
    }
    .CF7Form {
        height: 650px;
        width: 400px;
        margin: auto;
        padding: 20px 0px 10px 0px;
        justify-content: space-between;
    }
    #NombEs {
        width: 400px;
        height: 40px;
        background-color: #fff;
        border-bottom: 2px solid #0980D3;
        border-radius: 7px;
        font-family: 'Permanent Marker', cursive;
        font-size: 14px;
        font-weight: 400;
        color: #005C9D;
        
    }
    #yourmensaje {
        width: 400px;
        height: 200px;
        background-color: #fff;
        border-bottom: 2px solid #0980D3;
        border-radius: 7px;
        font-family: 'Permanent Marker', cursive;
        font-size: 14px;
        font-weight: 400;
        color: #005C9D;
    }
    #ApellidoS {
        width: 400px;
        height: 40px;
        background-color: #fff;
        border-bottom: 2px solid #0980D3;
        border-radius: 7px;
        font-family: 'Permanent Marker', cursive;
        font-size: 14px;
        font-weight: 400;
        color: #005C9D;
    }
    #TeleMovil {
        width: 400px;
        height: 40px;
        background-color: #fff;
        border-bottom: 2px solid #0980D3;
        border-radius: 7px;
        font-family: 'Permanent Marker', cursive;
        font-size: 14px;
        font-weight: 400;
        color: #005C9D;
    }
    #Email305 {
        width: 400px;
        height: 40px;
        background-color: #fff;
        border-bottom: 2px solid #0980D3;
        border-radius: 7px;
        font-family: 'Permanent Marker', cursive;
        font-size: 14px;
        font-weight: 400;
        color: #005C9D;
    }
    .yourmensaje {
        width: 400px;
        height: 180px;
        background-color: #fff;
        border-bottom: 2px solid #0980D3;
        border-radius: 7px;
        font-family: 'Permanent Marker', cursive;
        font-size: 14px;
        font-weight: 400;
        color: #005C9D;
    }
    .wpcf7-form .wpcf7-text:focus,
    .wpcf7-form .wpcf7-textarea:focus,
    .wpcf7-form .wpcf7-text:hover,
    .wpcf7-form .wpcf7-textarea:hover {
        border: 2px dashed #0980D3;
    }
    #wpcf7-f274-p2357-o2, textarea,  {
        width: 390px;
        height: 40px;
        background-color: #fff;
        border-bottom: 2px solid #0980D3;
        border-radius: 7px;
        font-family: 'Permanent Marker', cursive;
        font-size: 14px;
        font-weight: 400;
        color: #005C9D;
    }
    /*Send button properties START */
    #edd-purchase-button, .button, .edd-submit, .entry-content .button, .woocommerce #respond input#submit, .woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit:disabled, .woocommerce #respond input#submit:disabled[disabled], .woocommerce a.button, .woocommerce a.button.disabled, .woocommerce a.button:disabled, .woocommerce a.button:disabled[disabled], .woocommerce button.button, .woocommerce button.button.disabled, .woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled], .woocommerce input.button, .woocommerce input.button.disabled, .woocommerce input.button:disabled, .woocommerce input.button:disabled[disabled], [type=submit].edd-submit, button, input[type=button], input[type=reset], input[type=submit] {
        font-size: 17px;
        padding: 15px 20px;
        background-color: #0980D3;
        width: 150px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: 21px;
        border-radius: 5px;
    }
    /*Send button properties END */

    /*Contact page END ***/      
}
/*3.  768  to 959px max res */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    /* 3. 768  to 959px max res*/ 
    /* About Michael section START  */
    .toprowabout, .bottomrowabout {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .ContenedorCaja {
        max-width: 700px;
        margin-left: 34px;
        margin-right: 34px;
        padding-bottom: 40px;
        display: inline-block;
        clear: none;
    }
    .WebIcono {
        width: 300px;
        height: auto;
        margin: 20px auto 10px auto;
    }
    .H3TituloAzul {
        text-align: left;
        font-family: 'Montserrat', sans-serif;
        font-size: 35px;
        font-weight: 800;
        color: #005C9D;
        max-width: 300px;
    }
    .TextoiGris {
        font-size: 15pt;
        color: #333333;
        font-family: 'Permanent Marker', cursive;
    }
    .ParrafoGris {
        max-width: 300px;
        text-align: left;
        color: #000;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        line-height: 20px;
        font-weight: 400;
        padding-left: 10px;
        border-left: 5px solid #0980D3;
    }
    /* About Michael section END  */
    /* reasons section START  */ 
    .FpTittleContainerBlue {
        width: 700px;
        border-bottom: 5px solid #005C9D;
        align-content: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        text-align: center;
    }
    .FpTittleBlue {
        font-family: 'monserrat', sans-serif;
        color: #005C9D;
        font-size: 50pt;
        font-weight: 900;
    }
    .BoredOfTittle {
        width: 700px;
        font-family: 'Permanent Marker', cursive;
        color: #4d4d4d;
        font-size: 50px;
        font-weight: 700;
        text-align: center;
        margin: 28px auto 60px auto;
    }
    .ReasonsPagph {/*Paragraph Prop*/
        font-family: 'Montserrat', sans-serif;
        font-size: 21pt;
        font-weight: 400;
        color: #000;
        text-align: center;
        word-spacing: 1px;
        max-width: 700px;
        margin: 34px 34px 54px 34px;
    }
    .reasonscontainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .reasons {
        max-width: 700px;
        padding: 30px 34px 40px 34px;
    } 
    .ReasonsImg {
        min-width: 700px;
        width: 700px;
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
    .ReasonsTittle {
        font-family: 'Montserrat', sans-serif;
        font-size: 2.5rem;
        font-weight: 900;
        align-content: center;
        color: #005C9D;
        text-align: center;
    }
    .Fp5AreYouReadyBox {
        min-width: 700px;
        max-width: 700px;
        margin: 10px 34px 30px 34px;
    }
    .Fp5TittleAreYouReady {
        font-family: 'Montserrat', sans-serif;
        font-size: 2.5rem;
        font-weight: 900;
        align-content: center;
        color: #005C9D;
        text-align: center;
    }
    .ImAllInBox {
        text-align: center;
        padding: 15px;
        background-color: #005C9D;
        width: 250px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        margin-bottom: 40px;
    }
    .ImAllInButton {
        text-align: center;
        padding: 15px;
        color: #fff;
        font-family: 'Monserrat', sans-serif;
        font-weight: 900;
        letter-spacing: 1px;
        word-spacing: 4px;
    }
    /* reasons section END */
    /* fp-6 (packages) START */
    .packagescontainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .packagebox {
        max-width: 700px;
        padding: 30px 34px 40px 34px;
    }
    .packimgbox {
        min-width: 700px;
        width: 700px;
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
    }
    .packtitlebox {
        margin-left: auto;
        margin-right: auto;
    }
    .packtitletext { /* properties from ReasonsTitle with white text */
        font-family: 'Montserrat', sans-serif;
        font-size: 2.5rem;
        font-weight: 900;
        align-content: center;
        color: #fff;
        text-align: center;
    }
    .packpagh { /**/
        font-family: 'Montserrat', sans-serif;
        font-size: 24pt;
        font-weight: 400;
        color: #fff;
        text-align: left;
        word-spacing: 1px;
        max-width: 700px;
        margin: 34px 34px 54px 34px;
        list-style: square;
        line-height: 32pt;
    }
    .SmallerText {
        font-family: 'Montserrat', sans-serif;
        font-size: 16pt;
        font-weight: 400;
        color: #fff;
        text-align: left;
    }
    /** BUTTON PROPERTIES don't change with screen size change **/
    .packbttnbox { /*button container box properties*/
        width: 100%;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        align-content: center;
        position: relative;
    }
    .packctabutton a, .packctabutton a:visited {
        text-decoration: none;
        color: inherit;
    }
    .packctabutton { /*add plan button properties */
        background-color: #0980D3;
        color: black;
        border: 1px solid #e7e7e7;
        border-radius: 7px;
        padding: 16px 32px;
        text-align: center;
        display: flexbox;
        margin: 4px auto 4px auto;
        transition-duration: 0.5s;
        cursor: pointer;
        font-family: 'Permanent Marker', cursive;
        text-transform: uppercase;
        font-size: 16px;
        color: #fff;
        width: 180px;
    }
    .packctabutton:hover {
        background-color: #e7e7e7;
        color: #0980D3;
        border: 1px solid #0980D3;
    }
    /* fp-6 (packages) END */   
    /*Contact page START*/
    .benecridi {
        font-size: 40px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        border-bottom: 3px solid #0980D3;
        width: 280px;
        margin: 10px 10px 20px 155px;
    }
    .CF7ContainerBox {
        background-color: rgb(255 255 255 / 46%);
        width: 450px;
        height: 600px;
        padding: 10px;
        border-radius: 7px;
        margin: auto;
        justify-content: space-between;
    }
    .CF7Form {
        height: 650px;
        width: 400px;
        margin: auto;
        padding: 20px 0px 10px 0px;
        justify-content: space-between;
    }
    #NombEs {
        width: 400px;
        height: 40px;
        background-color: #fff;
        border-bottom: 2px solid #0980D3;
        border-radius: 7px;
        font-family: 'Permanent Marker', cursive;
        font-size: 14px;
        font-weight: 400;
        color: #005C9D;
        
    }
    #yourmensaje {
        width: 400px;
        height: 200px;
        background-color: #fff;
        border-bottom: 2px solid #0980D3;
        border-radius: 7px;
        font-family: 'Permanent Marker', cursive;
        font-size: 14px;
        font-weight: 400;
        color: #005C9D;
    }
    #ApellidoS {
        width: 400px;
        height: 40px;
        background-color: #fff;
        border-bottom: 2px solid #0980D3;
        border-radius: 7px;
        font-family: 'Permanent Marker', cursive;
        font-size: 14px;
        font-weight: 400;
        color: #005C9D;
    }
    #TeleMovil {
        width: 400px;
        height: 40px;
        background-color: #fff;
        border-bottom: 2px solid #0980D3;
        border-radius: 7px;
        font-family: 'Permanent Marker', cursive;
        font-size: 14px;
        font-weight: 400;
        color: #005C9D;
    }
    #Email305 {
        width: 400px;
        height: 40px;
        background-color: #fff;
        border-bottom: 2px solid #0980D3;
        border-radius: 7px;
        font-family: 'Permanent Marker', cursive;
        font-size: 14px;
        font-weight: 400;
        color: #005C9D;
    }
    .yourmensaje {
        width: 400px;
        height: 180px;
        background-color: #fff;
        border-bottom: 2px solid #0980D3;
        border-radius: 7px;
        font-family: 'Permanent Marker', cursive;
        font-size: 14px;
        font-weight: 400;
        color: #005C9D;
    }
    .wpcf7-form .wpcf7-text:focus,
    .wpcf7-form .wpcf7-textarea:focus,
    .wpcf7-form .wpcf7-text:hover,
    .wpcf7-form .wpcf7-textarea:hover {
        border: 2px dashed #0980D3;
    }
    #wpcf7-f274-p2357-o2, textarea,  {
        width: 390px;
        height: 40px;
        background-color: #fff;
        border-bottom: 2px solid #0980D3;
        border-radius: 7px;
        font-family: 'Permanent Marker', cursive;
        font-size: 14px;
        font-weight: 400;
        color: #005C9D;
    }
    /*Send button properties START */
    #edd-purchase-button, .button, .edd-submit, .entry-content .button, .woocommerce #respond input#submit, .woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit:disabled, .woocommerce #respond input#submit:disabled[disabled], .woocommerce a.button, .woocommerce a.button.disabled, .woocommerce a.button:disabled, .woocommerce a.button:disabled[disabled], .woocommerce button.button, .woocommerce button.button.disabled, .woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled], .woocommerce input.button, .woocommerce input.button.disabled, .woocommerce input.button:disabled, .woocommerce input.button:disabled[disabled], [type=submit].edd-submit, button, input[type=button], input[type=reset], input[type=submit] {
        font-size: 17px;
        padding: 15px 20px;
        background-color: #0980D3;
        width: 150px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: 21px;
        border-radius: 5px;
    }
    /*Send button properties END */

}
/*4. 960  to 1365px max res */
@media only screen and (min-width: 960px) and (max-width: 1365px) {
    /*max-res 960px*/ 
    /* About Michael section START  */
    .toprowabout, .bottomrowabout {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
    }
    .ContenedorCaja {
        max-width: 930px;
        margin-left: 15px;
        margin-right: 15px;
        padding-bottom: 90px;
        clear: none;
    }
    .WebIcono {
        width: 400px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
    }
    .H3TituloAzul {
        text-align: left;
        font-family: 'Montserrat', sans-serif;
        font-size: 30pt;
        width: 430px;
        font-weight: 800;
        color: #005C9D;
        max-width: 440px;
        }
    .TextoiGris {
        font-size: 30pt;
        color: #4d4d4d;
        font-family: 'Permanent Marker', cursive;
    }
    .ParrafoGris {
        max-width: 430px;
        text-align: left;
        color: #2C2C2C;
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        line-height: 20px;
        font-weight: 300;
        padding-left: 10px;
        border-left: 5px solid #0980D3;
    }
    /* About Michael section END  */
    /* reasons section START  */ 
    .FpTittleContainerBlue {
        width: 800px;
        border-bottom: 5px solid #005C9D;
        align-content: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        text-align: center;
    }
    .FpTittleBlue {
        font-family: 'monserrat', sans-serif;
        color: #005C9D;
        font-size: 55pt;
        font-size: 45px;
        font-weight: 900;
    }
    .BoredOfTittle {
        width: 800px;
        font-family: 'Permanent Marker', cursive;
        color: #4d4d4d;
        font-size: 29pt;
        font-weight: 700;
        text-align: center;
        margin: 28px auto 60px auto;
    }
    .ReasonsPagph {/*Paragraph Prop*/
        font-family: 'Montserrat', sans-serif;
        font-size: 24pt;
        font-weight: 400;
        color: #333;
        text-align: center;
        word-spacing: 1px;
        max-width: 930px;
        margin-left: 15px;
        margin-right: 15px;
    }
    .reasonscontainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .reasons {
        max-width: 930px;
        padding: 60px 15px 60px 15px;
    }
    .ReasonsImg {
        width: 930px;
        margin-left: auto;
        margin-right: auto;
    }
    .ReasonsTittle {
        font-family: 'Montserrat', sans-serif;
        font-size: 40pt;
        font-weight: 700;
        align-content: center;
        color: #005C9D;
        text-align: center;
    }
    .Fp5AreYouReadyBox {
        width: 930px;
        margin-top: 10px;
        margin-bottom: 30px;
        padding: 15px;
    }
    .Fp5TittleAreYouReady {
        font-family: 'Montserrat', sans-serif;
        font-size: 57px;
        font-weight: 900;
        align-content: center;
        color: #005C9D;
        text-align: center;
    }
    .ImAllInBox {
        text-align: center;
        padding: 15px;
        background-color: #005C9D;
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        margin-bottom: 40px;
    }
    .ImAllInButton {
        text-align: center;	
        padding: 10px;
        color: #fff;
        font-family: 'Monserrat', sans-serif;
        font-weight: 900;
        font-size: 25px;
        letter-spacing: 1px;
    }
    /* reasons section END */
    /* fp-6 (packages) START */
    .packagescontainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .packagebox {
        max-width: 930px;
        padding: 60px 15px 60px 15px;
    }
    .packimgbox {
        width: 930px;
        margin-left: auto;
        margin-right: auto;
    }
    .packtitlebox {
        margin-left: auto;
        margin-right: auto;
    }
    .packtitletext { /* properties from ReasonsTitle with white text */
        font-family: 'Montserrat', sans-serif;
        font-size: 40pt;
        font-weight: 700;
        align-content: center;
        color: #fff;
        text-align: center;
    }
    .packpagh { /**/
        font-family: 'Montserrat', sans-serif;
        font-size: 24pt;
        font-weight: 400;
        color: #fff;
        text-align: left;
        word-spacing: 1px;
        max-width: 930px;
        margin-left: 45px;
        margin-right: 35px;
        list-style: square;
        line-height: 32pt;
        padding-left: 50px;
    }
    .SmallerText {
        font-family: 'Montserrat', sans-serif;
        font-size: 16pt;
        font-weight: 400;
        color: #fff;
        text-align: left;
    }
    /** BUTTON PROPERTIES don't change with screen size change **/
    .packbttnbox { /*button container box properties*/
        width: 100%;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        align-content: center;
        position: relative;
        margin-top: 60px;
        margin-bottom: 100px;
    }
    .packctabutton a, .packctabutton a:visited {
        text-decoration: none;
        color: inherit;
    }
    .packctabutton { /*add plan button properties */
        background-color: #0980D3;
        color: black;
        border: 1px solid #e7e7e7;
        border-radius: 7px;
        padding: 16px 32px;
        text-align: center;
        display: flexbox;
        margin: 4px auto 4px auto;
        transition-duration: 0.5s;
        cursor: pointer;
        font-family: 'Permanent Marker', cursive;
        text-transform: uppercase;
        font-size: 25px;
        color: #fff;
        width: 200px;
    }
    .packctabutton:hover {
        background-color: #e7e7e7;
        color: #0980D3;
        border: 1px solid #0980D3;
    }
    /* fp-6 (packages) END */   
    /*Contact page START*/
    .benecridi {
        font-size: 40px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        border-bottom: 3px solid #0980D3;
        width: 280px;
        margin: 10px 10px 20px 255px;
    }
    .CF7ContainerBox {
        background-color: rgb(255 255 255 / 46%);
        width: 450px;
        height: 600px;
        padding: 10px;
        border-radius: 7px;
        margin: auto;
        justify-content: space-between;
    }
    .CF7Form {
        height: 650px;
        width: 400px;
        margin: auto;
        padding: 20px 0px 10px 0px;
        justify-content: space-between;
    }
    #NombEs {
        width: 400px;
        height: 40px;
        background-color: #fff;
        border-bottom: 2px solid #0980D3;
        border-radius: 7px;
        font-family: 'Permanent Marker', cursive;
        font-size: 14px;
        font-weight: 400;
        color: #005C9D;
        
    }
    #yourmensaje {
        width: 400px;
        height: 200px;
        background-color: #fff;
        border-bottom: 2px solid #0980D3;
        border-radius: 7px;
        font-family: 'Permanent Marker', cursive;
        font-size: 14px;
        font-weight: 400;
        color: #005C9D;
    }
    #ApellidoS {
        width: 400px;
        height: 40px;
        background-color: #fff;
        border-bottom: 2px solid #0980D3;
        border-radius: 7px;
        font-family: 'Permanent Marker', cursive;
        font-size: 14px;
        font-weight: 400;
        color: #005C9D;
    }
    #TeleMovil {
        width: 400px;
        height: 40px;
        background-color: #fff;
        border-bottom: 2px solid #0980D3;
        border-radius: 7px;
        font-family: 'Permanent Marker', cursive;
        font-size: 14px;
        font-weight: 400;
        color: #005C9D;
    }
    #Email305 {
        width: 400px;
        height: 40px;
        background-color: #fff;
        border-bottom: 2px solid #0980D3;
        border-radius: 7px;
        font-family: 'Permanent Marker', cursive;
        font-size: 14px;
        font-weight: 400;
        color: #005C9D;
    }
    .yourmensaje {
        width: 400px;
        height: 180px;
        background-color: #fff;
        border-bottom: 2px solid #0980D3;
        border-radius: 7px;
        font-family: 'Permanent Marker', cursive;
        font-size: 14px;
        font-weight: 400;
        color: #005C9D;
    }
    .wpcf7-form .wpcf7-text:focus,
    .wpcf7-form .wpcf7-textarea:focus,
    .wpcf7-form .wpcf7-text:hover,
    .wpcf7-form .wpcf7-textarea:hover {
        border: 2px dashed #0980D3;
    }
    #wpcf7-f274-p2357-o2, textarea,  {
        width: 390px;
        height: 40px;
        background-color: #fff;
        border-bottom: 2px solid #0980D3;
        border-radius: 7px;
        font-family: 'Permanent Marker', cursive;
        font-size: 14px;
        font-weight: 400;
        color: #005C9D;
    }
    /*Send button properties START */
    #edd-purchase-button, .button, .edd-submit, .entry-content .button, .woocommerce #respond input#submit, .woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit:disabled, .woocommerce #respond input#submit:disabled[disabled], .woocommerce a.button, .woocommerce a.button.disabled, .woocommerce a.button:disabled, .woocommerce a.button:disabled[disabled], .woocommerce button.button, .woocommerce button.button.disabled, .woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled], .woocommerce input.button, .woocommerce input.button.disabled, .woocommerce input.button:disabled, .woocommerce input.button:disabled[disabled], [type=submit].edd-submit, button, input[type=button], input[type=reset], input[type=submit] {
        font-size: 17px;
        padding: 15px 20px;
        background-color: #0980D3;
        width: 150px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: 21px;
        border-radius: 5px;
    }
    /*Send button properties END */      
}
/*5. 1366 to 4096px max res */
@media only screen and (min-width: 1366px) and (max-width: 4096px) {
    /*1366 to 1920px max res*/ 
    /* About Michael section START  */
    .toprowabout, .bottomrowabout {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
    .ContenedorCaja {
        width: 550px;
        margin-left: 10px;
        margin-right: 10px;
        padding-bottom: 90px;
        padding-top: 10px;
    }
    .WebIcono {
        width: 550px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        justify-content: flex-start;
    }
    .H3TituloAzul {
        text-align: left;
        font-family: 'Montserrat', sans-serif;
        font-size: 48px;
        width: 500px;
        font-weight: 800;
        color: #005C9D;
    }
    .TextoiGris {
        font-size: 30pt;
        color: #333333;
        font-family: 'Permanent Marker', cursive;
        margin-bottom: 40px;
    }
    .ParrafoGris {
        max-width: 550px;
        text-align: left;
        color: #2C2C2C;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        font-weight: 400;
        padding-left: 10px;
        border-left: 7px solid #005C9D;
    }
    /* About Michael section END  */
    /* reasons section START  */
    .FpTittleContainerBlue {
        width: 1200px;
        border-bottom: 5px solid #005C9D;
        align-content: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        text-align: center;
    }
    .FpTittleBlue {
        font-family: 'monserrat', sans-serif;
        color: #005C9D;
        font-size: 5rem;
        font-weight: 900;
        width: 1200px;
    }
    .BoredOfTittle {
        width: 1200px;
        font-family: 'Permanent Marker', cursive;
        color: #4d4d4d;
        font-size: 62px;
        font-weight: 700;
        text-align: center;
        margin: 8px auto 70px auto;
    }
    .ReasonsPagph {/*Paragraph Prop*/
        font-family: 'Montserrat', sans-serif;
        font-size: 19px;
        font-weight: 400;
        color: #333;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
    .reasonscontainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 1200px;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
        padding-top: 80px;
    }
    .reasons {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 30px;
        padding-bottom: 40px;
    }
    .ReasonsImg {
        width: 280px;
        margin-left: auto;
        margin-right: auto;
    }
    .ReasonsTittle {
        font-family: 'Montserrat', sans-serif;
        font-size: 23px;
        font-weight: 700;
        align-content: center;
        color: #005C9D;
        text-align: center;
        height: 66px;
    }
    .Fp5AreYouReadyBox {
        width: 100%;
        justify-content: space-between;
        margin: 20px auto 50px auto;
    }
    .Fp5TittleAreYouReady {
        font-family: 'Montserrat', sans-serif;
        font-size: 55px;
        font-weight: 900;
        align-content: center;
        color: #005C9D;
        text-align: center;
    }
    .ImAllInBox {
        text-align: center;
        padding: 15px;
        background-color: #005C9D;
        width: 250px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 10px;
        margin-bottom: 40px;
    }
    .ImAllInButton {
        text-align: center;	
        padding: 10px;
        color: #fff;
        font-family: 'Monserrat', sans-serif;
        font-weight: 900;
        letter-spacing: 1px;
    }
    /* reasons section END */
    /* fp-6 (packages) START */
    .packagescontainer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    .packagebox {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 30px;
        padding-bottom: 40px;
    }
    .packimgbox {
        width: 350px;
        margin-left: auto;
        margin-right: auto;
    }
    .packtitlebox {
        margin-left: auto;
        margin-right: auto;
    }
    .packtitletext { /* properties from ReasonsTitle with white text */
        font-family: 'Montserrat', sans-serif;
        font-size: 29px;
        font-weight: 700;
        align-content: center;
        color: #fff;
        text-align: center;
        height: 66px;
    }
    .packpagh { /**/
        font-family: 'Montserrat', sans-serif;
        font-size: 24px;
        line-height: 33px;
        font-weight: 500;
        color: #fff;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
        width: 500px;
        padding-left: 20px;
        height: 200px;
        list-style: square;
        padding-left: 50px;
    }
    .SmallerText {
        font-family: 'Montserrat', sans-serif;
        font-size: 14pt;
        font-weight: 400;
        color: #fff;
        text-align: right;
    }
    /** BUTTON PROPERTIES don't change with screen size change **/
    .packbttnbox { /*button container box properties*/
        width: 100%;
        justify-content: space-between;
        margin-left: auto;
        margin-right: auto;
        align-content: center;
        position: relative;
        margin-top: 60px;
        margin-bottom: 100px;
    }
    .packctabutton a, .packctabutton a:visited {
        text-decoration: none;
        color: inherit;
    }
    .packctabutton { /*add plan button properties */
        background-color: #0980D3;
        color: black;
        border: 1px solid #e7e7e7;
        border-radius: 7px;
        padding: 16px 32px;
        text-align: center;
        display: flexbox;
        margin: 4px auto 4px auto;
        transition-duration: 0.5s;
        cursor: pointer;
        font-family: 'Permanent Marker', cursive;
        text-transform: uppercase;
        font-size: 20px;
        color: #fff;
        width: 250px;
    }
    .packctabutton:hover {
        background-color: #e7e7e7;
        color: #0980D3;
        border: 1px solid #0980D3;
    }
    /* fp-6 (packages) END */    
    /*Contact page START*/
    .benecridi {
        font-size: 40px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        border-bottom: 3px solid #0980D3;
        width: 280px;
        margin: 10px 10px 20px 255px;
    }
    .CF7ContainerBox {
        background-color: rgb(255 255 255 / 46%);
        width: 450px;
        height: 600px;
        padding: 10px;
        border-radius: 7px;
        margin: auto;
        justify-content: space-between;
    }
    .CF7Form {
        height: 650px;
        width: 400px;
        margin: auto;
        padding: 20px 0px 10px 0px;
        justify-content: space-between;
    }
    #NombEs {
        width: 400px;
        height: 40px;
        background-color: #fff;
        border-bottom: 2px solid #0980D3;
        border-radius: 7px;
        font-family: 'Permanent Marker', cursive;
        font-size: 14px;
        font-weight: 400;
        color: #005C9D;
        
    }
    #yourmensaje {
        width: 400px;
        height: 200px;
        background-color: #fff;
        border-bottom: 2px solid #0980D3;
        border-radius: 7px;
        font-family: 'Permanent Marker', cursive;
        font-size: 14px;
        font-weight: 400;
        color: #005C9D;
    }
    #ApellidoS {
        width: 400px;
        height: 40px;
        background-color: #fff;
        border-bottom: 2px solid #0980D3;
        border-radius: 7px;
        font-family: 'Permanent Marker', cursive;
        font-size: 14px;
        font-weight: 400;
        color: #005C9D;
    }
    #TeleMovil {
        width: 400px;
        height: 40px;
        background-color: #fff;
        border-bottom: 2px solid #0980D3;
        border-radius: 7px;
        font-family: 'Permanent Marker', cursive;
        font-size: 14px;
        font-weight: 400;
        color: #005C9D;
    }
    #Email305 {
        width: 400px;
        height: 40px;
        background-color: #fff;
        border-bottom: 2px solid #0980D3;
        border-radius: 7px;
        font-family: 'Permanent Marker', cursive;
        font-size: 14px;
        font-weight: 400;
        color: #005C9D;
    }
    .yourmensaje {
        width: 400px;
        height: 180px;
        background-color: #fff;
        border-bottom: 2px solid #0980D3;
        border-radius: 7px;
        font-family: 'Permanent Marker', cursive;
        font-size: 14px;
        font-weight: 400;
        color: #005C9D;
    }
    .wpcf7-form .wpcf7-text:focus,
    .wpcf7-form .wpcf7-textarea:focus,
    .wpcf7-form .wpcf7-text:hover,
    .wpcf7-form .wpcf7-textarea:hover {
        border: 2px dashed #0980D3;
    }
    #wpcf7-f274-p2357-o2, textarea,  {
        width: 390px;
        height: 40px;
        background-color: #fff;
        border-bottom: 2px solid #0980D3;
        border-radius: 7px;
        font-family: 'Permanent Marker', cursive;
        font-size: 14px;
        font-weight: 400;
        color: #005C9D;
    }
    /*Send button properties START */
    #edd-purchase-button, .button, .edd-submit, .entry-content .button, .woocommerce #respond input#submit, .woocommerce #respond input#submit.disabled, .woocommerce #respond input#submit:disabled, .woocommerce #respond input#submit:disabled[disabled], .woocommerce a.button, .woocommerce a.button.disabled, .woocommerce a.button:disabled, .woocommerce a.button:disabled[disabled], .woocommerce button.button, .woocommerce button.button.disabled, .woocommerce button.button:disabled, .woocommerce button.button:disabled[disabled], .woocommerce input.button, .woocommerce input.button.disabled, .woocommerce input.button:disabled, .woocommerce input.button:disabled[disabled], [type=submit].edd-submit, button, input[type=button], input[type=reset], input[type=submit] {
        font-size: 17px;
        padding: 15px 20px;
        background-color: #0980D3;
        width: 150px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: 21px;
        border-radius: 5px;
    }
    /*Send button properties END */

}